@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@1,300&display=swap');

@mixin tags($name) {
    &::before {
        content: $name;
    }
}

.__tags {
    font-family: 'Fraunces', serif;
    position: relative;
    // font-style: italic;
    font-size: 15px;
    color: var(--text);
    opacity: 0.2;
}

.__HTMLtag { @include tags('<html>'); }
.__HTMLcloseTag { @include tags('</html>'); }

.__bodytag { @include tags('<body>'); }
.__bodyCloseTag { @include tags('</body>'); }

.__h1tag { @include tags('<h1>'); }
.__h1CloseTag { @include tags('</h1>'); }

.__h2tag { @include tags('<h2>'); }
.__h2CloseTag { @include tags('</h2>'); }

.__ptag { @include tags('<p>'); }
.__pCloseTag { @include tags('</p>'); }

.__atag { @include tags('<a>'); }
.__aCloseTag { @include tags('</a>'); }

.__formTag { @include tags('<form>'); }
.__formCloseTag { @include tags('</form>'); }