:root {
    --text: #CCCCCC;
    --title: #08FDD8;
    --active-link: #73AA4F;

    --btn-bg: #C60202; 
}

$content_bg: #1E1E1E;
$sideBar_bg: #252526;
$linksBar_bg: #333333;
$btn_bg: #C60202;
$btn_active: #730202;

$h1Color: #08FDD8;